.profile-switch-wrapper {
  height: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding:0 0.5rem;
}
.profile-image {
  margin-right: 1rem;
  display: flex;
  align-items: center;
}
.profile-image img {
width: 5rem;
height: 5rem;
  /* background-color: red; */
  margin-right: 0.5rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.name-wrapper {
  width:max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5rem;

}
.name-wrapper h5 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1rem;
}
.name-wrapper p {
  font-size: 1.4rem;
  line-height: 1rem;
  font-weight: 5oo;
}
.switchbtn {
  font-size: 1.4rem;
  font-weight: bolder;
  color: rgb(7, 235, 223);
}
