<div class="suggestion">
    <p>Suggestions For You</p>
</div>
<div class="suggestions-wrapper">
  <div class="suggestions-profile-image">
    <img
      src="https://www.pngarts.com/files/11/Avatar-PNG-Free-Download.png"
      alt=""
    />
  </div>
  <div class="profile-name-wrapper">
    <h5>@abtdprincekumar</h5>
    <p>Prince Kumar</p>
  </div>
  <div class="follow">
    <p>Follow</p>
  </div>
</div>
<div class="suggestions-wrapper">
  <div class="suggestions-profile-image">
    <img
      src="https://www.pngarts.com/files/11/Avatar-PNG-Free-Download.png"
      alt=""
    />
  </div>
  <div class="profile-name-wrapper">
    <h5>@abtdprincekumar</h5>
    <p>Prince Kumar</p>
  </div>
  <div class="follow">
    <p>Follow</p>
  </div>
</div>
<div class="footer">
<div class="footer-items">
    <ul>
          <li>About</li>
          <li>Help</li>
          <li>Press</li>
          <li>Api</li>
          <li>jobs</li>
          <li>Privacy</li>
          <li>Terms</li>
          <li>Location</li>
          <li>Language</li>
      </ul>
</div>
      <p>2022 INSTAGRAM FROM META</p>
  </div>

