<div class="suggestion">
  <p>Suggestions For You</p>
</div>



<!-- For static data -->
<div *ngFor="let user of SuggestionsForYou">
  <div class="suggestions-wrapper">
    <div class="suggestions-profile-image">
      <img
        src={{user.profileImageUrl}}
        alt={{user.profileImageAlt}}
      />
      <div class="profile-name-wrapper">
        <h5>{{user.userName}}</h5>
        <p>{{user.fullName}}</p>
      </div>
    </div>
    <div class="follow">
      <p>Follow</p>
    </div>
  </div>
</div>
<div class="footer">
  <div class="footer-items">
    <ul>
      <li>About</li>
      <li>Help</li>
      <li>Press</li>
      <li>Api</li>
      <li>jobs</li>
      <li>Privacy</li>
      <li>Terms</li>
      <li>Location</li>
      <li>Language</li>
    </ul>
  </div>
  <p>2022 INSTAGRAM FROM META</p>
</div>