<div class="suggestion">
    <p>Suggestions For You</p>
</div>
<div *ngFor="let user of userList">
  <div class="suggestions-wrapper">
    <div class="suggestions-profile-image">
      <img
        src={{user.imageUrl}}
        alt={{user.imageUrlAlt}}
      />
    </div>
    <div class="profile-name-wrapper">
      <h5>{{user.username}}</h5>
      <p>{{user.Full_name}}</p>
    </div>
    <div class="follow">
      <p>Follow</p>
    </div>
  </div>
</div>
<div class="footer">
<div class="footer-items">
    <ul>
          <li>About</li>
          <li>Help</li>
          <li>Press</li>
          <li>Api</li>
          <li>jobs</li>
          <li>Privacy</li>
          <li>Terms</li>
          <li>Location</li>
          <li>Language</li>
      </ul>
</div>
      <p>2022 INSTAGRAM FROM META</p>
  </div>

