.navigation {
  z-index: 3;
  background-color: #ffff;
  border-bottom: 1px solid #dbdbdb;
  margin-bottom: 7.5rem;
}
.status-bar-wrapper,
.feed-card-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1rem;
  width: 62rem;
  position: relative;
  left: calc(100vw - 86vw);
}
.status-bar {
  position: relative;
  width: 61rem;
  height: 10rem;
  border-radius: 8px;
  border: 1px solid #dbdbdb;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.right-profile-bar {
  position: absolute;
  /* max-width:25rem; */
  right: calc(100% - 80%);
  top: 9rem;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  width: 18vw;
}

.feed-card {
  width: 61rem;
  position: relative;
  display: flex;
  justify-content: flex-start;
  min-height: calc(100vh - 30vh);
}
@media screen and (max-width: 800px) {
  div.status-bar-wrapper {
    left: calc(100vw - 90vw);
    margin: inherit 0.5rem;
  }
  div.feed-card-wrapper {
    left: calc(100vw - 90vw);
  }
}
