.parent-wrapper{
  /* display: flex; */
  /* align-items: center; */
  /* flex-direction: row; */
}
.navigation {
  z-index: 3;
  background-color: #ffff;
  border-bottom: 1px solid #dbdbdb;
  margin-bottom: 8.5rem;
}
.status-bar-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid #dbdbdb; */
}
.status-bar{
  position: relative;
  right: 17.5rem;
  width: 45rem;
  height: 10rem;
  border-radius: 10px;
  border: 1px solid #dbdbdb;
}